.add-timesheet-entry .mdc-data-table__cell, .add-timesheet-entry .mdc-data-table__header-cell{
  padding: 15px 10px 0 10px;
}

.add-timesheet-entry th {
  font-weight: 600;
  font-size: 13px;
}

.add-timesheet-entry tr:nth-child(even) {
  background-color: rgba(244, 247, 252, 0.75);
}

.consultant-name {
  color: black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 230px;
}